body{
  margin: 0;
  padding: 0;
  
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&family=Syne:wght@400;500;600;700;800&family=Work+Sans:wght@100;300&display=swap');
.first{
width: 100%;
height: 749px;
flex-shrink: 0;
opacity: 0.93;
display: flex;
background: #000;
background: url('./images/Rectangle.png') black 0% 0% / 100.84999799728394px 100.84999799728394px repeat;
}

.shopkart{
margin: 20px 0px 0px 50px;
color: #FFF;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 275;
line-height: normal;
}
.star3{
  position: absolute;
  margin: 160px 0 0 50%;
  width: 35%;
  z-index: -1;
}
.manimage{
  margin: 190px 0 0 50%;
position: absolute;
width: 35%;
height: 554.951px;
padding: 0px;
z-index: 0;
background-repeat: no-repeat;
background-size: cover;
}


@media(max-width:500px){
  .first > .one,.first > .two,.first > .three{
    display: none;
  }
}
.yellowbg{
  width: 75%;
height: 320.301px;
flex-shrink: 0;
opacity: 0.95;
z-index: -1;
margin: 350px 0 0 25%;
position: absolute;
background: var(--Pimary-colour, #F07E15);
}
.first > .one{
  z-index: 1;
color: #FFF;
margin:100px 0 0 8%;
height: 151px;
flex-shrink: 1;
font-family: Syne;
font-size: 5rem;
font-style: normal;
font-weight: 800;
}
.first > .two{
  z-index: 1;
margin-left:20%;
color: #FFF;
flex-shrink: 0;
font-family: Syne;
font-size: 5rem;
font-style: normal;
font-weight: 800;
}
.first > .three
{
margin: 100px 0px 0px 8%;
z-index: 1;
color: #FFF;
flex-shrink: 0;
font-family: Syne;
font-size: 5rem;
font-style: normal;
font-weight: 800;
}

.contact{
margin-bottom: 0;
width: 100%;
height: 700px;
flex-shrink: 0;
background: url('./images/18591063.png'), lightgray 50% / cover no-repeat;
}

.newsletter{
 
margin-bottom: 0;
padding: 0;
width: 80%;
height: 52px;
flex-shrink: 0;
font-family: Syne;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: var(--grey-scale-200, rgba(255, 255, 255, 0.50));
}
.newsletter-p{
  padding: 0;
  margin-top: 0px;
height: 52px;
flex-shrink: 0;
color: var(--grey-scale-200, rgba(255, 255, 255, 0.50));
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.contact-name{
  width: 80%;
  background: none;
  border: none;
height: 30px;
flex-shrink: 0;
color: var(--grey-scale-200, rgba(255, 255, 255, 0.50));
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
outline: none;
}

hr{
  margin-top: 10px;
  width: 80%;
  height: 1px;
  margin-left:0px ;
background: #FFF;
}

@media (max-width: 1200px) {
  .contact {
    height: 800px;
  }
  
}
@media (max-width: 700px) {
  .contact {
    height: 1000px;
  }
 
  
}


@media(max-width:765px){
  .getintouchdiv .circle{
    display: none;
  }
 
}

.getintouch{
  flex-wrap: wrap;
  font-size: 10vw;
  flex-shrink: 0;
color: var(--grey-scale-000, #FFF);
font-family: Syne;
font-style: normal;
font-weight: 800;
line-height: 102.6px; 
}
.getintouchdiv{
  padding: 5%;
  margin-top: 0;
}
.circle{
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 181px;
height: 181px;
flex-shrink: 0;
display: flex;
border: 2px solid #F07E15;
border-radius: 100%;
}
.send{
  color: var(--pimary-colour, #F07E15);
  font-family: Work Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  
  line-height:  61.538% 
} 
.footer{
  margin-top: 0px;
  width: 100%;
height: 66px;
flex-shrink: 0;
background: var(--grey-scale-1000, #000);
}
.copyright{
  text-align: center;

  color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.images{
  width: 310px;
height: 250px;
flex-shrink: 0;
background: lightgray 50% / cover no-repeat;
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-track {
  display: flex;
}

.carousel-item {
  flex: 0 0 100%;
}

.scrolldiv::-webkit-scrollbar { display: none; }
.carousel img {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.product-desc{
  width: px;
height: 49px;
  color: var(--greyscale-400, rgba(22, 22, 21, 0.50));
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
overflow-y: hidden;
}


.product-head{
flex-shrink: 0;
color: var(--grey-scale-1000, #000);
font-family: Syne;
font-size: 8vw;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.product-line{
  width: 648px;
height: 1px;
background: var(--grey-scale-1000, #161615);
}
.star{
  width: 22px;
height: 22px;
flex-shrink: 0;

fill: var(--grey-scale-1000, #000);
}

@media(min-width:764px){
  .product-ul{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .product-li{
    font-weight: 100;
    opacity: 0.9;
    font-size: large;
  }
}
.product-ul{
  display: flex;
  gap: 5%;
  flex-direction: right;
}
.product-li{
  color: var(--grey-scale-1000, #000);
/* Subtitles */
font-family: Syne;
list-style-type: none;
font-style: normal;
line-height: normal;
}